.navpara {
    font-size: 1.8rem;
    font-weight: 500;
}

.navpara span {
    font-size: 1.8rem;
    color: var(--primaryColor);
    font-weight: 500;
}

.navicon {
    font-size: 1.8rem;
    color: var(--primaryColor);
    margin: 0rem .5rem 0rem .5rem;
}

.toprow {
    padding: 1rem 0rem 1rem 0rem;
}


/* .navcol{
    width: 1200px;
} */
.navimg {
    width: 30rem;
}

.nav-link {
    margin: 1rem;
    font-size: 1.6rem;
    text-decoration: none;
    color: var(--darkColor);
    font-weight: 500;
}

.nav-link:hover {
    color: var(--secondaryColor);
}

/* .stickynavrow{
    position: sticky;
    top: 0rem;
} */

.stickynavrow {
    position: sticky;
    top: 0;
    z-index: 1000;
}



.carousel-section {
    background-image: url(./assets/images/WhatsApp\ Image\ 2025-05-16\ at\ 9.56.55\ AM.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.carousel-section h3 {
    font-size: 6rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

.carousel-section p {
    font-size: 1.6rem;
    line-height: 3rem;
}

.carouselbtn {
    border: 1px solid black;
    border-radius: 50px;
    font-size: 1.4rem;
    padding: 2rem 3rem 2rem 3rem;
}




.card {
    border: none;
    margin: 0;
    border-radius: 0;
    padding: 5rem 0rem 5rem 0rem;
}



.card h5 {
    color: white;
    font-weight: 600;
    font-size: 2.4rem;
}

.card p {
    color: white;
    font-weight: 400;
    font-size: 1.5rem;
}

.crd1 {
    background-color: #FF850D;
}

.crd2 {
    background-color: #704FFF;
}

.crd3 {
    background-color: #41D481;
}



.aboutussection h3 {
    line-height: 6rem;
}

.fa-crop-simple {
    font-size: 3rem;
}

.aboutussection h6 {
    color: var(--darkColour);
    font-weight: 600;
    font-size: 2.4rem;
}

.aboutusimg img {
    height: 50rem;
    width: 70rem;
}

.abimgcol {
    position: relative;
}

.explore p {
    color: var(--lightColor);
    font-size: 1.6rem;
    font-weight: 600;
}

.explore {
    background-color: #FF850D;
    width: 35rem;
    padding: 1rem 1rem;
    position: absolute;
    bottom: -1rem;
    right: 4rem;
}



.servicesection {
    padding: 7rem 0rem;
}

.servicesection button {
    border: 1px solid rgb(120, 120, 120);
    font-family: var(--ffPrimary);
    font-size: 1.6rem;
    color: var(--darkColor);
    font-weight: 500;
    padding: 1rem 3rem;
}





.horizontalcard {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    padding: 4rem 0rem 4rem 0rem;
    width: 100%;
}

.horizontalcard img {
    height: 10rem;
    margin: 1rem 1rem;
}

.horizontalcard h6 {
    font-size: 1.9rem;
    color: var(--darkColor);
    font-weight: 600;
}

.horizontalcard p {
    font-weight: 600;
    line-height: 3rem;
}



.testmonialimg {
    height: 45rem;
}

.testimonialsection h3 {
    line-height: 6rem;
}

.carousel-item .parafont {
    line-height: 3rem;
}

.profilecontentbox h6 {
    color: #000000;
    font-size: 1.9rem;
    font-weight: 600;
    padding: 1rem 0rem 0rem 0rem;
}

.profilecontentbox p {
    color: var(--ffPrimary);
    font-size: 1.4rem;
    font-weight: 500;
}

.fa-quote-left {
    font-size: 4rem;
    max-width: 2rem;
}




.footersection {
    background-image: url(./assets/images/footer\ pattern-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.footercontact {
    font-size: 1.4rem;
    color: #000000;
}

.footersection h6 {
    font-size: 1.6rem;
    color: #000000;
    font-weight: 600;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.footersection a {
    font-size: 1.4rem;
    color: #727272;
    line-height: 4rem;
    text-decoration: none;
    font-weight: 500;
}

.footersection a:hover {
    color: #FF850D;
}

.footersection input {
    font-size: 1.4rem;
    color: #727272;
    font-weight: 500;
    padding: 1rem 5rem 1rem 1rem;
    margin-bottom: 2rem;
}

.footersection i {
    font-size: 2rem;
    color: #727272;
    font-weight: 500;
    margin: 1rem 1rem;
}

.copyright p {
    font-size: 1.4rem;
    color: #727272;
}

.copyright span {
    color: #FF850D;
}

.footerbottomrowlink a {
    font-size: 1.4rem;
    color: #727272;
    font-weight: 500;
    padding: 0rem 1rem;
}




/* @media (width <=576px) */
@media (max-width: 576px) {

    /* .naviconparabox {
        display: none;
    } */

}

/* Medium devices (tablets, upto 768px and above) */
/* @media (min-width: 577px) and (max-width: 768px) */
@media (width >=577px) and (width <=768px) {}


/* Large devices (Laptops, upto 992px and above) */
/* @media (min-width: 769px) and (max-width: 992px) */
@media (width >=769px) and (width <=992px) {}


/* X-Large devices (large desktops, upto 1200px and above) */
/* @media (min-width: 993px) and (max-width: 1200px) */
@media (width >=993px) and (width <=1200px) {}


/* XX-Large devices (larger desktops, upto 1400px and above) */
/* @media (min-width: 1200px)  */
@media (width >=1200px) {}